*{
  padding: 0%;
  margin: 0%;
}

form{
  width: 450px;
  /* background-color:; */
  box-shadow: 1px 1px 1px 1px rgb(156, 156, 156);
}

button{
  background-color:aquamarine !important;
}

button:hover{
  background-color: rgb(82, 233, 182) !important;
}

.is-valid {
  border-color: green;
}
