*{
  padding: 0%;
  margin: 0%;
}

/* body{
  background-color: rgb(237, 243, 241) !important;
} */

form{
  width: 450px;
  background-color: whitesmoke;
  box-shadow: 2px 2px 15px rgb(156, 156, 156);
  /* box-shadow: 1px 1px 1px rgb(156, 156, 156); */
}

.login{
  color: radial-gradient(circle, rgb(201, 107, 182) 0%, rgb(134, 10, 148) 100%) !important;  
}

.regbtn{
  background: rgb(167,168,175);
  background: radial-gradient(circle, rgb(179, 99, 163) 0%, rgba(99,8,110,1) 100%);
}

.regbtn:hover{
  background: radial-gradient(circle, rgb(201, 107, 182) 0%, rgb(134, 10, 148) 100%);
}

.is-valid {
  border-color: green;
}

thead{
  margin-left: 60px !important;
}

/* input{
  margin-top: -40px !important;
} */



/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(241, 243, 242);
  color: black;
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  height: 70px;
  box-shadow: 2px 2px 15px rgb(156, 156, 156);
  /* box-shadow: 1px 1px 1px rgb(233, 233, 233); */
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); */
}

.navbar .nav-links {
  display: flex;
  gap: 15px;
}

.navbar .nav-links a {
  color: rgb(77, 76, 76);
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: larger;

  padding: 8px 15px;
  font-weight: 700px;
  position: relative;
  top: 5px;
  margin-left: -30px;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
}



.sidenav {
  height: 100%;
  width: 250px;
  z-index: 3;
  /* border-radius: 5px; */
  position: fixed;
  top: 60px; /* Corrected unit for top */
  left: -250px; /* Sidebar starts hidden */
  background-color: whitesmoke; /* Background color with opacity */
  overflow-x: hidden;
  /* box-shadow: 1px 1px 1px rgb(233, 233, 233); */
  transition: 0.3s;
  color: black;
  padding-top: 11px;
  /* bottom: 10px; */
}

.sidenav.open {
  left: 0;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav ul li {
  padding: 8px 16px;
}

.sidenav ul li a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 7px;
  border-radius: 5px;
  /* border: 1px solid rgb(77, 76, 76); */
}

.sidenav ul li a:hover {
  /* color: #495057; */
  color: rgba(25, 135, 84, 0.8);
  transition: 1s;
}

.toggle-button {
  /* color: #ffffff; */
  border: none;
  padding: 10px 20px;
  margin-right: 50px;
  cursor: pointer;
  top: 8px;
  border-radius: 4px;
  position: absolute;
  right: 0;
  background-color: transparent;
}

/* 
.toggle-button:hover {
  color: rgba(25, 135, 84, 0.8);
  transition: 2s;
} */

/* .icons-1 {
  font-size: 30px;
  position: relative;
  top: 10px;
} */

/* .icons-2 {
  font-size: 24px;
  position: relative;
  top: 6px;
  left: 4px;
  margin-right: 13px;
} */
.input-sidenav {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #495057;
}

.input-sidenav:focus {
  outline: none;
}
.register {
  color: rgba(25, 135, 84, 0.8) !important;
}

.home-page{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 350px;
  margin-top: 100px !important;
  /* background: radial-gradient(circle, rgb(179, 99, 163) 0%, rgba(99,8,110,1) 100%); */
  /* background-color: aquamarine; */
}

/* Footer */
.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  text-align: center;
  margin-top: 700px !important;
  
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 0;
  font-size: 0.875rem;
}

.footer .fa {
  color: #000;
  margin: 0 10px;
  cursor: pointer;
}

.footer .fa:hover {
  color: #007bff;
}


@media only screen and (max-width:1024px) and (min-width:769px) {
  .home-page {
    margin-left: 900px !important; 
  }
}

@media only screen and (min-width: 426) and (max-width: 768) {
  .home-page{
    margin-right: 500px !important; 
  }
}
